@model Telecon.Models.Settings
@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Privileges Administration";
}

<div class="PanelPrivilegios">
    @using (@Html.BeginForm("Privileges", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h2>PRIVILEGES MANAGEMENT</h2>
        <hr />
        <table class="TablaEditar" border="1">
            <tr>
                <td>PROFILE PICS</td>
                <td>
                    <label class="switch">
                        @if (Model == null || Model.fotosPerfil == true)
                        {
                            <input type="checkbox" value="true" name="profilePics" checked>
                        }
                        @if (Model != null && Model.fotosPerfil == false)
                        {
                            <input type="checkbox" value="true" name="profilePics">
                        }
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>ALLOW PASSWORD CHANGE</td>
                <td>
                    <label class="switch">
                        @if (Model == null || Model.cambioContraseña == true)
                        {
                            <input type="checkbox" value="true" name="passwordChange" checked>
                        }
                        @if (Model != null && Model.cambioContraseña == false)
                        {
                            <input type="checkbox" value="true" name="passwordChange">
                        }
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>ALLOW EMAIL CHANGE</td>
                <td>
                    <label class="switch">
                        @if (Model == null || Model.cambioCorreo == true)
                        {
                            <input type="checkbox" value="true" name="emailChange" checked>
                        }
                        @if (Model != null && Model.cambioCorreo == false)
                        {
                            <input type="checkbox" value="true" name="emailChange">
                        }
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>ALLOW USER LOGIN</td>
                <td>
                    <label class="switch">
                        @if (Model == null || Model.accesoUsuario == true)
                        {
                            <input type="checkbox" value="true" name="userAccess" checked>
                        }
                        @if (Model != null && Model.accesoUsuario == false)
                        {
                            <input type="checkbox" value="true" name="userAccess">
                        }
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
        </table>

        <button type="submit">ACCEPT</button>
        <button type="button" id="ReturnButton" onclick="Retornar();">RETURN</button>
    }


</div>

<script type="text/javascript">

    document.getElementById("main-admin-button").style.visibility = "visible";

    function Retornar() {
        window.location.href = "/en/admin";
    }

    function Español() {
        window.location.href = "/es/admin/privilegios";
    }

    function English() {
        window.location.href = "/en/admin/privileges";
    }

</script>


