@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Centrales telefonicas";
}

<div class="Centrales1">
    <h2>Venta & Instalación</h2>
    <img src="~/Style/Media/centrales1.png" id="Central1" />
    <p>Venta de centrales telefonicas analogicas y/o digitales, 
    de marcas reconocidas como PANASONIC y SIEMENS.
    </p>
</div>
<div class="Centrales2">
    <h2>Servicio Técnico</h2>
    <img src="~/Style/Media/centrales2.png" id="Central2" />
    <p>
        Reparación de centrales analogicas y digitales, teléfonos y tarjetas de centrales teléfonicas.
    </p>
</div>
<div class="Centrales3">
    <h2>Programación</h2>
    <img src="~/Style/Media/centrales3.png" id="Central3" />
    <p>
        Cableados y programaciones de sistemas de telecomunicación centrales y equipos teléfonicos.
    </p>
</div>

<script type="text/javascript">

    function Español() {
        window.location.href = "/es/centralestelefonicas";
    }

    function English() {
        window.location.href = "/en/telephone-exchange";
    }

</script>