@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Cercos eléctricos";
}

<div class="CercosTitulos">
    <h2 id="TituloVenta">VENTA</h2>
    <h2 id="TituloInstalacion">INSTALACIÓN</h2>
    <h2 id="TituloMantenimiento">MANTENIMIENTO</h2>

    <img id="ImgCerco1" src="~/Style/Media/Cercos1.png" />
    <img id="ImgCerco2" src="~/Style/Media/Cercos2.png" />
    <img id="ImgCerco3" src="~/Style/Media/Cercos3.png" />

    <p id="PCerco1">
        Disponemos de la mejor y más reconocida variedad de accesorios
        y equipos para cercos eléctricos: sirenas, cables de alta tensión, sirenas, avisos, aisladores y
        concertinas.
    </p>

    
       <ul id="PCerco2">
           <li>
               Diseño y fabricación de postes a la medida, según el diseño de seguridad previo.
           </li>
           <li>
               Personal de instalación propio y de confianza.
           </li>
           <li>
               Sistema de corriente pulsante (evita que alguien quede pegado en el cerco)
           </li>
       </ul>

       <p id="PCerco3">
           Es importante mantener el cerco eléctrico libre de vegetación: ramas y hojas de árboles 
           que puedan caer y quedarse enganchados, mantener tensas las líneas y 
           chequear cada cierto tiempo los postes, accesorios externos del cerco  
           y el nivel de voltaje.
       </p>
    

</div>



<script type="text/javascript">

    function Español() {
        window.location.href = "/es/cercoselectricos";
    }

    function English() {
        window.location.href = "/en/electricfences";
    }

</script>