@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Panel de Administración";
}

<div class="AdminPanel">
    <h2>PANEL DE ADMINISTRACIÓN</h2>
    <hr />
    <div class="PUsuarios" onclick="Users();"><p>USUARIOS</p>
    <div></div>
    </div>
    <hr />
    <div class="PProductos" onclick="Products();"><p>PRODUCTOS</p>
    <div></div>
    </div>
    <hr />
    <div class="PPrivilegios" onclick="Privileges();"><p>PRIVILEGIOS</p>
    <div></div>
    </div>
</div>

<script type="text/javascript">

    document.getElementById("main-admin-button").style.visibility = "visible";

    function Users() {
        window.location.href = "/es/admin/usuarios";
    }

    function Products() {
        window.location.href = "/es/admin/productos";
    }

    function Privileges() {
        window.location.href = "/es/admin/privilegios";
    }

    function Español() {
        window.location.href = "/es/admin";
    }

    function English() {
        window.location.href = "/en/admin";
    }

</script>
