@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Phone Exchange";
}

<div class="Centrales1">
    <h2>Sale & Installation</h2>
    <img src="~/Style/Media/centrales1.png" id="Central1" />
    <p>Sale of both analog and digital Phone Exchanges, 
    from known brands such as PANASONIC and SIEMENS.
    </p>
</div>
<div class="Centrales2">
    <h2>Technical Service</h2>
    <img src="~/Style/Media/centrales2.png" id="Central2" />
    <p>
        Repair of analog and digital phone exchanges, phones & line cards.
    </p>
</div>
<div class="Centrales3">
    <h2>Programming</h2>
    <img src="~/Style/Media/centrales3.png" id="Central3" />
    <p>
        Wiring & programming of phone exchange systems and phone devices.
    </p>
</div>

<script type="text/javascript">

    function Español() {
        window.location.href = "/es/centralestelefonicas";
    }

    function English() {
        window.location.href = "/en/telephone-exchange";
    }

</script>