@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Servicios";
}

<div class="PanelServicios">
    <h2>SERVICIOS DISPONIBLES</h2>
    <hr />
    <div class="CercosElectricos" onclick="Cercos();">
        <p>CERCOS ELECTRICOS</p>
        <div></div>
    </div>
    <div class="AccesoAutorizado" onclick="Acceso();">
        <p>EQUIPOS DE ACCESO AUTORIZADO</p>
        <div></div>
    </div>
    <div class="PortonesAutomatizados" onclick="Portones();">
        <p>PORTONES AUTOMATIZADOS</p>
        <div></div>
    </div>
    <div class="CentralesTelefonicas" onclick="Centrales();">
        <p>CENTRALES TELEFONICAS</p>
        <div></div>
    </div>
</div>


<script type="text/javascript">

    function Cercos() {
        window.location.href = "cercoselectricos";
    }

    function Acceso() {
        window.location.href = "accesoautorizado";
    }

    function Portones() {
        window.location.href = "portones";
    }

    function Centrales() {
        window.location.href = "centralestelefonicas";
    }
   
    function Español() {
        window.location.href = "/es/servicios";
    }

    function English() {
        window.location.href = "/en/services";
    }



</script>

