@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Services";
}

<div class="PanelServicios">
    <h2>AVAILABLE SERVICES</h2>
    <hr />
    <div class="CercosElectricos" onclick="Fences();">
        <p>ELECTRIC FENCES</p>
        <div></div>
    </div>
    <div class="AccesoAutorizado" onclick="CCTV();">
        <p>CCTV INSTALLATION</p>
        <div></div>
    </div>
    <div class="PortonesAutomatizados" onclick="Gates();">
        <p>SLIDING GATES KITS</p>
        <div></div>
    </div>
    <div class="CentralesTelefonicas" onclick="Telephone();">
        <p>TELEPHONE EXCHANGES</p>
        <div></div>
    </div>
</div>


<script type="text/javascript">

    function Fences() {
        window.location.href = "electricfences";
    }

    function CCTV() {
        window.location.href = "cctv";
    }

    function Gates() {
        window.location.href = "sliding-gates";
    }

    function Telephone() {
        window.location.href = "telephone-exchange";
    }

    function Español() {
        window.location.href = "/es/servicios";
    }

    function English() {
        window.location.href = "/en/services";
    }

</script>

