    <div class="MenuP">
    <div class="MenuGroup">
        <button type="button" id="HomeButton" onclick="Home();">Home</button>
        <button type="button" id="ProductButton" onclick="Products();">Available Products</button>
        <button type="button" id="ServiceButton" onclick="Services();">Services</button>
        <button type="button" id="GeneralButton" onclick="GeneralInfo();">General Information</button>
        <button type="button" id="ContactButton" onclick="ContactInfo();">Contact Information</button>
    </div>

    <div class="MenuSecundario">
        @if (User.Identity.IsAuthenticated == false)
        {
            <button type="button" id="LoginButton" onclick="Login();">Login</button>
        }
        else
        {
            <button type="button" id="LoginButton" onclick="Login();" style="background-image: url('../../Style/Media/user-profile(1).png');">Profile</button>
        }

        <div class="btn-group">
            <button type="button" id="LanguageM" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Languages
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" id="Languages" role="menu">
                <li class="text-center" id="Español" onclick="Español();"><a href="#"><img id="SpanishFlag" class="img-responsive" src="~/Style/Media/SpanishFlag.png"><b>Español</b></a></li>
                <li class="text-center" id="English" onclick="English();"><a href="#"><img id="EnglishFlag" class="img-responsive" src="~/Style/Media/EnglishFlag.jpg"><b>English</b></a></li>
            </ul>

        </div>
    </div>

    @if (User.Identity.IsAuthenticated == true && User.IsInRole("Admin"))
    {
        <button type="button" style="visibility: visible;" class="AdminButton" id="main-admin-button" onclick="AdminPanel();">Administration Panel</button>
    }
    else
    {
        <button type="button" style="visibility: hidden;" class="AdminButton" id="main-admin-button" onclick="AdminPanel();">Administration Panel</button>
    }


    

</div>



<script type="text/javascript">

    function Home() {
        window.location.href = "/en/home";
    }

    function Products() {
        window.location.href = "/en/products/1";
    }

    function Services() {
        window.location.href = "/en/services";
    }

    function GeneralInfo() {
        window.location.href = "/en/info";
    }

    function ContactInfo() {
        window.location.href = "/en/contact";
    }

    function Login() {
        window.location.href = "/en/login";
    }

    function AdminPanel() {
        window.location.href = "/en/admin";
    }

</script>