<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>@Page.Title</title>


    <link rel="stylesheet" href="~/Style/CSS-English.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/AFT.js"></script>

    <script src="~/Scripts/Sorting_Scripts/UsersSorting.js"></script>
    <script src="~/Scripts/Products_AJAX/Products-AJAX.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="icon"
          type="image/png"
          href="~/Style/icono-telecon.png" />
</head>
<body>
    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
    <div>
        @RenderPage("_EMenu.cshtml")
        @RenderBody()
    </div>
</body>
</html>
