@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Cambiar contraseña";
}

<div class="CambioContraseña">
    <form method="post">
        <h2>ACTUALIZAR CONTRASEÑA - CRISTIAN GONZÁLEZ</h2>
        <hr />
        <p>Vieja contraseña</p>
        <input type="password" name="ViejaContraseña" class="form-control" />
        <p>Nueva contraseña</p>
        <input type="password" name="NuevaContraseña" class="form-control" />
        <p>Repita nueva contraseña</p>
        <input type="password" name="RepetirContraseña" class="form-control" />
        <button type="button">ACEPTAR</button>
        <button type="reset">BORRAR</button>
    </form>
</div>

<script type="text/javascript">
     $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/perfil/cambiarcontraseña";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/profile/changepassword";
        });
    });
</script>