@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Change password";
}

<div class="CambioContraseña">
    <form method="post">
        <h2>CHANGE PASSWORD - CRISTIAN GONZÁLEZ</h2>
        <hr />
        <p>Old password</p>
        <input type="password" name="ViejaContraseña" class="form-control" />
        <p>New password</p>
        <input type="password" name="NuevaContraseña" class="form-control" />
        <p>Repeat new password</p>
        <input type="password" name="RepetirContraseña" class="form-control" />
        <button type="button">ACCEPT</button>
        <button type="reset">RESET</button>
    </form>
</div>
