@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Crear Usuario";
}




<div class="PanelCrear">
    <form method="post" name="CrearUsuario">
        <h4 id="TituloNombreUsuario">Nombre de Usuario</h4>
        <input id="CampoNombreUsuario" type="text" name="NombreUsuario" />
        <h4 id="TituloNombre">Nombres</h4>
        <input id="CampoNombre" type="text" name="Nombres" />
        <h4 id="TituloApellidos">Apellidos</h4>
        <input id="CampoApellidos" type="text" name="Apellidos" />
        <h4 id="TituloCorreo">Correo</h4>
        <input id="CampoCorreo" type="text" name="Correo" />
        <h4 id="TituloEdad">Edad</h4>
        <input id="CampoEdad" type="text" name="Edad" />
        <h4 id="TituloDireccion">Dirección</h4>
        <input id="CampoDireccion" type="text" name="Direccion" />
        <h4 id="TituloTelefono">Teléfono</h4>
        <input id="CampoTelefono" type="text" name="Telefono" />
        <h4 id="TituloAdmin">Privilegios de Administrador</h4>
        <label id="PAdmin" class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <button type="button">CREAR</button>
        <button id="BotonBorrar" type="reset">BORRAR</button>
    </form>

    <div class="AvatarImg"></div>

    <label id="BuscarImagen" for="files" class="btn btn-primary">Buscar Imagen</label>
    <input id="files" accept="image/*" style="visibility:hidden;" type="file" name="myFileSelect">
</div>

<script type="text/javascript">
    $('#files').change(function () {
        var file = this.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $('.AvatarImg').css('background-image', 'url("' + reader.result + '")');
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
        }
    });

    
    $("#BotonBorrar").click(function () {
        $('.AvatarImg').css('background-image', 'url("/Style/Media/UsuarioPre.png")');
    }
    );

    $(document).ready(function () {
        $('.AdminButton').css('visibility', 'visible');
    });

</script>
