@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Edit User";
}

<h2 id="EditTitle">EDIT USER - CRISTIAN GONZÁLEZ </h2>

<form name="EditarUsuario" method="post">

    <div class="EditarFoto">
        <h2>PROFILE AVATAR</h2>
        <hr />
        <img id="EditImage" class="img-responsive img-thumbnail" src="~/Style/Media/UsuarioPre.png" />

        <label id="EditarImagen" for="archivos" class="btn btn-primary">Choose Image</label>
        <input id="archivos" accept="image/*" style="visibility:hidden;" type="file" name="myImagenSelect">
    </div>

    <div class="EditarCargo">
        <h2><b>PRIVILEGES</b></h2>
        <hr />
        <input id="RankCheck" type="checkbox" class="checkbox" name="Administrador" value="Admin">
        
        <p>ADMIN</p>
    </div>

    <div class="PanelEditar">
        <table class="TablaEditar" border="1">
            <tr>
                <td colspan="2" id="EditHeader"><p>USER INFO</p></td>
            </tr>
            <tr>
                <td class="EditarCell"><p>USERNAME</p></td>
                <td><input class="form-control" type="text" name="NombreUsuario" /></td>
            </tr>
            <tr>
                <td class="EditarCell"><p>NAMES</p></td>
                <td><input class="form-control" type="text" name="Nombres" /></td>
            </tr>
            <tr>
                <td class="EditarCell"><p>LASTNAMES</p></td>
                <td><input class="form-control" type="text" name="Apellidos" /></td>
            </tr>
            <tr>
                <td class="EditarCell"><p>AGE</p></td>
                <td><input class="form-control" type="text" name="Edad" /></td>
            </tr>
            <tr>
                <td class="EditarCell"><p>E-MAIL</p></td>
                <td><input class="form-control" type="text" name="Correo" /></td>
            </tr>
            <tr>
                <td class="EditarCell"><p>PHONE</p></td>
                <td><input class="form-control" type="text" name="Telefono" /></td>
            </tr>
            <tr></tr>
        </table>

        <button type="button">UPDATE</button>
        <button type="button" id="BtnRegresar">RETURN</button>
    </div>



</form>



<script type="text/javascript">
    $(document).ready(function () {
        $('.AdminButton').css('visibility', 'visible');

    });

    $('#archivos').change(function () {
        var file = this.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            $('#EditImage').attr('src', ''+ reader.result + '');
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
        }
    });

    $(function () {
        $("#BtnRegresar").click(function () {
            window.location.href = "/en/admin/users";
        });
    });

    $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/admin/usuarios/editarusuario";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/admin/users/edituser";
        });
    });


</script>