@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Recover password";
}


<div class="RecuperarContraseña">
    <h2>RECOVER USER PASSWORD</h2>
    <form method="post">
        <p>USERNAME</p>
        <input type="text" />
        <button type="button">SEND MAIL</button>
        <button type="reset">RESET</button>
    </form>
    
    
</div>


