@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Recuperar contraseña";
}


<div class="RecuperarContraseña">
    <h2>RECUPERAR CONTRASEÑA DE USUARIO</h2>
    <form method="post">
        <p>NOMBRE DE USUARIO</p>
        <input type="text" />
        <button type="button">ENVIAR CORREO</button>
        <button type="reset">BORRAR</button>
    </form>
    
    
</div>


