@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Users";
}

<div class="PanelBusqueda">
    <form method="post" name="FormaBuscar">
        <p><span class="glyphicon glyphicon-user"></span>   SEARCH</p>
        <hr /><br />
        <h5>User Code</h5>
        <input type="text" name="Codigo" />
        <h5>Names & Lastnames</h5>
        <input type="text" name="Nombre" />
        <h5>E-mail</h5>
        <input type="text" name="Correo" />
        <h5>Phone</h5>
        <input type="text" name="Telefono" />
        <div class="btn-group dropup SearchMenu">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Sort by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><span class="glyphicon glyphicon-barcode"></span><b>&ensp;ID</b></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span><b>&ensp;Name</b></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span><b>&ensp;E-mail</b></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-phone"></span><b>&ensp;Phone</b></a></li>
            </ul>
        </div>
        <button type="reset" class="BtnBorrar">RESET</button>
    </form>
</div>



<h2 id="UsersTitle">TELECON ERICKSON C.A - USERS LIST</h2>

<table class="TablaUsuarios">
    <tr>
        <td>ID</td>
        <td>Username</td>
        <td>Names</td>
        <td>Lastnames</td>
        <td style="border-bottom-style: solid; width: 15%; padding-top: 1em; padding-bottom: 0.5em; padding-left: 0;">E-mail</td>
        <td style="padding-bottom: 0.5em; border-bottom-style: solid; border-top-style: none;">Phone</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Bayke</td>
        <td>Cristian David</td>
        <td>González Lugo</td>
        <td>cdgl1996@gmail.com</td>
        <td>0416-6860677</td>
        <td><button type="button">Edit</button></td>
        <td><button type="button">Delete</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>KKaY</td>
        <td>Kevin</td>
        <td>Reinbold</td>
        <td>Kevin@gmail.com</td>
        <td>04249258444</td>
        <td><button type="button">Edit</button></td>
        <td><button type="button">Delete</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>LowaG</td>
        <td>Istvan</td>
        <td>Gati</td>
        <td>Gatillo@gmail.com</td>
        <td>04161234567</td>
        <td><button type="button">Edit</button></td>
        <td><button type="button">Delete</button></td>
    </tr>
</table>

<button id="BtnCrear" type="button">CREATE USER</button>

<script type="text/javascript">
    $(document).ready(function(){
        $('.AdminButton').css('visibility', 'visible');

    });

    $(function () {
        $("#BtnCrear").click(function () {
            window.location.href = "/en/admin/users/createuser";
        });
    });

    $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/admin/usuarios";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/admin/users";
        });
    });

</script>


