@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - CCTV Equipment";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>

<h2 id="AccesoTitle1">SALE & INSTALLATION</h2>
<p id="AccesoTitle1B">OF CCTV EQUIPMENT</p>

<img src="~/Style/Media/Cam1.png" id="Cam1" />


<h2 id="AccesoTitle2">DVR</h2>
<p id="AccesoTitle2B">VIDEO RECORDERS</p>
<img src="~/Style/Media/Cam2.png" id="Cam2" />

<h2 id="AccesoTitle3">SCREENS & CONTROLLERS</h2>
<p id="AccesoTitle3B">VIDEO MANAGEMENT AND STORAGE</p>
<img src="~/Style/Media/Cam3.png" id="Cam3" />

<script type="text/javascript">
     $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/accesoautorizado";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/cctv";
        });
    });
</script>


