@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Contact Info";
}

<h2 id="ContactTitle">TELECON ERICKSON C.A - CONTACT INFORMATION</h2>

<div class="PanelContacto">
    <table class="TablaEditar" border="1">
        <tr>
            <td id="ContactHeader" colspan="2">CONTACT US</td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-phone"></span></td>
            <td>
                0286-9313393
                0286-9316068
                0286-9320692
            </td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-envelope"></span></td>
            <td>telecon.erickson@gmail.com</td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-map-marker"></span></td>
            <td>Edo. Bolívar, San Félix, Av. Principal Del Roble Por Dentro, Casa 28, Piso PB, Local 28, Sector El Roble.</td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-dashboard"></span></td>
            <td>08:00 AM - 05:00 PM</td>
        </tr>
    </table>
</div>

<script type="text/javascript">
     $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/contacto";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/contact";
        });
    });
</script>