@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Electrif Fences";
}

<div class="CercosTitulos">
    <h2 id="TituloVenta">SALE</h2>
    <h2 id="TituloInstalacion">INSTALLATION</h2>
    <h2 id="TituloMantenimiento">MAINTENANCE</h2>

    <img id="ImgCerco1" src="~/Style/Media/Cercos1.png" />
    <img id="ImgCerco2" src="~/Style/Media/Cercos2.png" />
    <img id="ImgCerco3" src="~/Style/Media/Cercos3.png" />

    <p id="PCerco1">
        We have the best and most recognized variety of accesories
        & equipment for electric fences: sirens, high-tension wire, warning signs and insulators.
    </p>

    
       <ul id="PCerco2">
           <li>
               Design & fabrications of fences up to measure, according to the design selected by our customers.
           </li>
           <li>
               Personnel with expertise to install electric fences with an appropiate procedure.
           </li>
           <li>
               Pulsating Current System (Avoids people from getting stuck to the fence)
           </li>
       </ul>

       <p id="PCerco3">
           It is important to maintain the fence clear of vegetation: tree leaves & branches,
           that may fall and get stuck on the equipment, keep the wire tensed and 
           verify the fences frequently, external accesories 
           and the ammount of volts going through the equipment.
       </p>
    

</div>



