@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Equipos de acceso autorizado";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>

<h2 id="AccesoTitle1">VENTA & INSTALACIÓN</h2>
<p id="AccesoTitle1B">DE CAMARAS DE SEGURIDAD</p>

<img src="~/Style/Media/Cam1.png" id="Cam1" />


<h2 id="AccesoTitle2">DVR</h2>
<p id="AccesoTitle2B">GRABADORAS DE VIDEO DIGITAL</p>
<img src="~/Style/Media/Cam2.png" id="Cam2" />

<h2 id="AccesoTitle3">MONITORES & CONTROLES</h2>
<p id="AccesoTitle3B">ALMACENAMIENTO DE VIDEOS</p>
<img src="~/Style/Media/Cam3.png" id="Cam3" />


