@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - General Info";
    
}

<img id="ImgValues" class="img-responsive" src="~/Style/Media/Valores.png" />

<div class="ValueTitles">
    <h2 id="MisionTitulo">Mission</h2>
    <p id="Mision">
        Bring to all our customers an excellent service, high quality products,
        and competitive prices through
        the addition of new products, articles and services required by our clientele.
        At the same time offering reasonable prices and services in short periods of time to
        benefit our clients and be an attractive company in the market.
    </p>
    <h2 id="VisionTitulo">Vision</h2>
    <p id="Vision">
        Be a company with a respectable reputation at a local, state and national level,
        capable of meeting and surpassing expectations to both our customers and providers.
        <br /><br />
        Achieve all of our customers objectives, both primary and secondary through the
        commercialization & distribution of office articles and telecommunication devices gaining notoriety
        in the market we work at by being an exemplary institution.
        
    </p>
    <h2 id="HistoriaTitulo">History</h2>
    <p id="Historia">
        The company CONTABLE-TELECOMMUNICATIONS ERICKSON; C.A, (TELECON
        ERICKSON, C.A.) was legally constitued and registered to the Office of Registry
        Trades in the Judicial District located in Bolivar State, with its main offices being located in Puerto Ordaz. At the date of 23th
        Juny 1995.
        <br /><br />
        A company focused to offering services and expertise in the following areas:
        telecommunications (utp cables, wired ABA, satellite ABA, metroethernet,
        telephone exchanges), optic fibers, networks, CCTV supply & installation, 
        sliding gate motors, electric fences and supply of
        office articles & school items.
    </p>
</div>


