@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Información General";
    
}

<img id="ImgValues" class="img-responsive" src="~/Style/Media/Valores.png" />

<div class="ValueTitles">
    <h2 id="MisionTitulo">Misión</h2>
    <p id="Mision">
        Proporcionar a todos los clientes un servicio excelente, productos de buena calidad,
        y precios competitivos mediante
        la incorporación de nuevos productos, artículos y servicios requeridos por los clientes.
        Así mismo encontrar la manera de brindar descuentos y reducir el costo de los productos para
        beneficiar directamente al cliente.
    </p>
    <h2 id="VisionTitulo">Visión</h2>
    <p id="Vision">
        Ser una empresa con un prestigio reconocido a nivel estatal,
        capaz de satisfacer las necesidades del cliente, y así mismo de sus proveedores.
        <br /><br />
        Lograr que nuestros clientes nos consideren líderes en cuanto a servicio y alternativas
        de consumo en la comercialización y distribución de productos terminados de papelería
        y telecomunicaciones.
    </p>
    <h2 id="HistoriaTitulo">Historia</h2>
    <p id="Historia">
        La Empresa TELECOMUNICACIONES-CONTABLE ERICKSON; C.A, (TELECON
        ERICKSON, C.A.) fue legalmente constituida y registrada ante la Oficina de Registro
        Mercantil de la Circunscripción Judicial del Estado Bolívar, con Sede en Puerto Ordaz. El
        23 de Junio de 1995.
        <br /><br />
        Es una empresa la cual esta orientada a la atención y servicio en las áreas de:
        telecomunicaciones (líneas itp, ABA alambrico, ABA satelital, metroethernet,
        centrales telefónicas), fibra óptica, redes, suministro e instalación de cámaras de vídeo
        vigilancia, automatización de portones, cercos eléctricos, así como también al suministro de
        artículos de oficina y papelería.
    </p>
</div>


