@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Inicio";
}

<body>
  
       <div class="Lista">
           <img src="~/Style/Media/IMGPAPELERIA.jpg" />
           <div class="BloqueTexto">
               <h2><b>PAPELERÍA</b></h2>
           </div>
       </div>

    <p id="Latest">ULTIMOS PRODUCTOS</p>

    <div class="Cabecera">
        <div class="Card1">

        </div>
        <div class="Card2">

        </div>
        <div class="Card3">

        </div>
        <div class="Card4">

        </div>
        <div class="Card5">

        </div>
    </div>

       
      
   
</body>

