@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Sliding Gates Motors";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>

<div class="Portones">
    <h2 id="TMotores">Motors</h2>
    <p id="PT1">Sale & Installation</p>
    <h2 id="TCentrales">Hardware</h2>
    <p id="PT2">Sale, Installation & Configuration</p>
    <h2 id="TCremalleras">Rails</h2>
    <p id="PT3">Maintenance and Replacement</p>
    <h2 id="TControles">Controllers</h2>
    <p id="PT4">Sale & Configuration</p>

    <img src="~/Style/Media/Porton1.png" id="Porton1" />
    <img src="~/Style/Media/Porton2.png" id="Porton2" />
    <img src="~/Style/Media/Porton3.png" id="Porton3" />
    <img src="~/Style/Media/Porton4.png" id="Porton4" />

</div>
