@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Login";
}

<div class="LoginForm">
    <form method="post" name="LoginForm">
        <p>USER LOGIN</p>
        <h4 id="EtiquetaNombre">Username</h4>
        <input type="text" class="CampoNombre" name="Nombre" />
        <h4 id="EtiquetaContraseña">Password</h4>
        <input type="password" class="CampoContraseña" name="Contraseña" />
        <button id="BtnIngresar">LOGIN</button>
        <button type="reset" id="BtnBorrar">RESET</button>
        <a href="forgotpassword">I forgot my password</a>
    </form>
</div>

<script type="text/javascript">

</script>

