@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Actualizar Perfil";
}

<div class="ActualizarPerfil">
    <h2>ACTUALIZAR PERFIL - CRISTIAN GONZÁLEZ</h2>
    <hr />
    <form method="post">

        <table>
            <tr>
                <th>Nombres</th>
                <td><input type="text" class="form-control" name="Nombres" /></td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td><input type="text" class="form-control" name="Apellidos" /></td>
            </tr>
            <tr>
                <th>Correo</th>
                <td><input type="text" class="form-control" name="Correo" /></td>
            </tr>
            <tr>
                <th>Edad</th>
                <td><input type="text" class="form-control" name="Edad" /></td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td><input type="text" class="form-control" name="Direccion" /></td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td><input type="text" class="form-control" name="Telefono" /></td>
            </tr>
        </table>

        <button type="button">ACTUALIZAR</button>
        <button type="reset">BORRAR</button>
    </form>
    
</div>

<script type="text/javascript">
     $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/perfil/actualizarperfil";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/profile/update";
        });
    });
</script>