@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Eliminar Usuario";
}

<h2 id="DeleteTitle">ELIMINAR USUARIO - CRISTIAN GONZÁLEZ </h2>
@using (@Html.BeginForm("", "", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="EditarFoto">
        <h2>FOTO DE PERFIL</h2>
        <hr />
        <img id="DeleteImage" class="img-responsive img-thumbnail" src="~/Style/Media/UsuarioPre.png" />
    </div>

    <div class="EliminarCargo">
        <h2><b>PRIVILEGIOS</b></h2>
        <hr />
        <p>USUARIO</p>
    </div>

    <div class="PanelEliminar">
        <table class="TablaEditar" border="1">
            <tr>
                <td colspan="2" id="EditHeader">INFORMACIÓN DE USUARIO</td>
            </tr>
            <tr>
                <td class="EditarCell">NOMBRE DE USUARIO</td>
                <td><p>Bayke</p></td>
            </tr>
            <tr>
                <td class="EditarCell">NOMBRES</td>
                <td><p>Cristian David</p></td>
            </tr>
            <tr>
                <td class="EditarCell">APELLIDOS</td>
                <td><p>González Lugo</p></td>
            </tr>
            <tr>
                <td class="EditarCell">EDAD</td>
                <td><p>21 años</p></td>
            </tr>
            <tr>
                <td class="EditarCell">CORREO</td>
                <td><p>cdgl1996@gmail.com</p></td>
            </tr>
            <tr>
                <td class="EditarCell">TELÉFONO</td>
                <td><p>0416-6860677</p></td>
            </tr>
            <tr></tr>
        </table>

        <p id="MsgConfirmacion">¿ Esta seguro de que desea eliminar este usuario ?</p>
        <button type="submit" id="BtnSi">SI</button>
        <button type="button" id="BtnNo">NO</button>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $('.AdminButton').css('visibility', 'visible');

    });



    $(function () {
        $("#BtnNo").click(function () {
            window.location.href = "/es/admin/usuarios";
        });
    });

    $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/admin/usuarios/eliminarusuario";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/admin/users/deleteuser";
        });
    });

</script>


