@model Telecon.Models.User
@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Recover password";
}


<div class="RecuperarContraseña">
    <h2>RECOVER USER PASSWORD</h2>

    @using (@Html.BeginForm("", "", FormMethod.Post, new { autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <p>USERNAME</p>
        @Html.TextBoxFor(m => m.username, new { @id = "recover_name", @value = "", maxlength = "50" })
        <button type="button" onclick="return RecoverPass();">SEND MAIL</button>
        <button type="reset">RESET</button>
    }




</div>

<div id="validacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div id="validaciones-contenido" class="modal-body">


            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var timer = null;

    function RecoverPass() {
        var nombre = document.getElementById("recover_name").value;
        var divtext = document.getElementById("validaciones-contenido");
        var validaciones = "";

        if (nombre.trim() == "" || nombre.trim() == null) {
            validaciones += "<p>You must type your username to send the e-mail.</p>\n"
        }

        if (validaciones != "") {
            divtext.innerHTML = validaciones;
            $('#validacion').modal('show');
            validaciones = "";

            window.clearTimeout(timer);
            timer = setTimeout(function () {
                $("#cerrar-validacion").click();
            }, 5000); // <-- time in milliseconds

            return false;
        } else {
            return true;
        }

    }


    $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/recuperarcontraseña";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/forgotpassword";
        });
    });
</script>


