@{
    Layout = "~/Views/Estructura/_Layout.cshtml";
    Page.Title = "Telecon Erickson C.A - Online Chat";
}


<div class="PrincipalChat">
    <div class="CanalChat">
        <p class="Msg-Recibido">Indeed, mate, indeed.</p>
        <p class="Msg-Enviado">Yeah, i guess you could say that.</p>
    </div>
    <div class="Contenedor">
        @Html.TextBox("Mensaje", "", new { @value = "", maxlength = "128" })
        <button type="button"><span class="glyphicon glyphicon-envelope"></span></button>
    </div>
    <div class="PanelUsuarios">
        <table>
            <tr>
                <th>ONLINE USERS</th>
            </tr>
            <tr>
                <td>@User.Identity.Name<span class="glyphicon glyphicon-user"></span></td>
            </tr>
        </table>

    </div>
</div>

<script type="text/javascript">
    function Español() {
        window.location.href = "/es/chat";
    }

    function English() {
        window.location.href = "/en/chat";
    }
</script>