@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Usuarios";
}

<div class="PanelBusqueda">
    <form method="post" name="FormaBuscar" autocomplete="off">
        <p><span class="glyphicon glyphicon-user"></span>   BUSCAR</p>
        <hr /><br />
        <h5>Código de Usuario</h5>
        @Html.TextBox("Codigo", "", new { id="buscar_codigo", oninput="return Validacion();", @value = "" })
        <h5>Nombres y Apellidos</h5>
        @Html.TextBox("Nombre", "", new { @value = "" })
        <h5>Correo</h5>
        @Html.TextBox("Correo", "", new { @value = "" })
        <h5>Teléfono</h5>
        @Html.TextBox("Telefono", "", new { @value = "" })
        <div class="btn-group dropup SearchMenu">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Ordenar por
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><span class="glyphicon glyphicon-barcode"></span><b>&ensp;Código</b></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span><b>&ensp;Nombre</b></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span><b>&ensp;Correo</b></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-phone"></span><b>&ensp;Teléfono</b></a></li>
            </ul>
        </div>
        <button type="reset" class="BtnBorrar">BORRAR</button>
    </form>
</div>

<div id="validacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="cerrar-validacion" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div id="validaciones-contenido" class="modal-body">


            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<h2 id="UsersTitle">TELECON ERICKSON C.A - LISTA DE USUARIOS</h2>

<table class="TablaUsuarios">
    <tr>
        <td>Código</td>
        <td>Nombre de Usuario</td>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td style="border-bottom-style: solid; width: 15%; padding-top: 1em; padding-bottom: 0.5em; padding-left: 0;">Correo</td>
        <td style="padding-bottom: 0.5em; border-bottom-style: solid; border-top-style: none;">Teléfono</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Bayke</td>
        <td>Cristian David</td>
        <td>González Lugo</td>
        <td>cdgl1996@gmail.com</td>
        <td>0416-6860677</td>
        <td><button type="button">Editar</button></td>
        <td><button type="button">Borrar</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>KKaY</td>
        <td>Kevin</td>
        <td>Reinbold</td>
        <td>Kevin@gmail.com</td>
        <td>04249258444</td>
        <td><button type="button">Editar</button></td>
        <td><button type="button">Borrar</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>LowaG</td>
        <td>Istvan</td>
        <td>Gati</td>
        <td>Gatillo@gmail.com</td>
        <td>04161234567</td>
        <td><button type="button">Editar</button></td>
        <td><button type="button">Borrar</button></td>
    </tr>
</table>

<button id="BtnCrear" type="button">CREAR USUARIO</button>

<script type="text/javascript">


    function Validacion() {
        var e = document.getElementById('buscar_codigo').value;
        var divtext = document.getElementById("validaciones-contenido");
        var timer = null;
        e.onpropertychange = e.oninput; // for IE8
        var re = new RegExp("^[0-9]+$");
        var validaciones = "";
        

        if (re.test(e) == false && e.trim() != "") {
            validaciones += "<p>El campo código solo acepta números sin espacios.</p>";
        }
        if (validaciones != "") {
            divtext.innerHTML = validaciones;
            $('#validacion').modal('show');
            validaciones = "";

            window.clearTimeout(timer);
            timer = setTimeout(function () {
                $("#cerrar-validacion").click();
            }, 2000); // <-- time in milliseconds
            document.getElementById('buscar_codigo').value = "";
            return false;
        } else {
            return true;
        }

    }




    $(document).ready(function(){
        $('.AdminButton').css('visibility', 'visible');

    });

    $(function () {
        $("#BtnCrear").click(function () {
            window.location.href = "/es/admin/usuarios/crearusuario";
        });
    });

    $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/admin/usuarios";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/admin/users";
        });
    });

</script>


