@{
    Layout = "~/Views/Estructura/_Forma.cshtml";
    Page.Title = "Telecon Erickson C.A - Eliminar Producto";
}





<body>


    <div class="PanelAgregarProducto">
        <form method="post">
            <h2>Eliminar producto</h2><hr />

            <div class="ProductoImgPrincipal">
              
            </div>
            <table class="TablaImagenes" border="0">
                <tr>
                    <td>
                        <div class="ImgP2">
                           
                        </div>
                    </td>
                    <td>
                        <div class="ImgP3">
                           
                        </div>
                    </td>
                    <td>
                        <div class="ImgP4">
                           
                        </div>
                    </td>
                </tr>
            </table>
            <div class="FormularioAProducto">
                <p>Nombre</p>
                <p class="product-info">Caja de lapices</p>
                
                <p>Descripción</p>
                <p class="product-info">Caja de lapices mongol N° 2, forradas en madera con goma de borrador,
                marca fabel castle, fabricados en Valencia, Venezuela.</p>
                <p>Precio</p>
                <p class="product-info">2575.80 BsS</p>
              
            </div>

            <p id="parrafo-confirmacion">¿Esta seguro de que desea eliminar este producto?</p>
            <button type="button">Si</button>
            <button id="ResetBtn" type="reset" onclick="Retornar();" >No</button>


        </form>
    </div>


</body>


<script type="text/javascript">
   
    function Retornar() {
        window.location.href = '/es/productos';
    }
  
    $(function () {
        $("#Español").click(function () {
            window.location.href = "/es/productos/eliminar";
        });
    });
    $(function () {
        $("#English").click(function () {
            window.location.href = "/en/products/delete";
        });
    });

</script>


